/* mobile first design */

@font-face {
  font-family: "Movement-DirectBlack";
  src: url(fonts/Movement-DirectBlack.otf) format("opentype");
}

@font-face {
  font-family: "Movement-DirectThin";
  src: url(fonts/Movement-DirectThin.otf) format("opentype");
}

@font-face {
  font-family: "Movement-IndirectBlack";
  src: url(fonts/Movement-IndirectBlack.otf) format("opentype");
}

@font-face {
  font-family: "Movement-IndirectThin";
  src: url(fonts/Movement-IndirectThin.otf) format("opentype");
}

@font-face {
  font-family: "Pirelli-Regular";
  src: url(fonts/pirelli-regular.woff) format("opentype");
}

* {
  box-sizing: border-box;
  font-family: "Pirelli-Regular", Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}



body {
  width: 100%;
  background-color: black;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  font-style: italic;
  cursor: pointer;
}

a:active {
  font-style: italic;
  color: white;
}

a:visited {
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.active {
  font-family: "Movement-DirectThin";
  -webkit-text-stroke: 1.5px red;
  -webkit-text-fill-color: transparent;
}

.link {
  font-family: "Movement-IndirectBlack";
  -webkit-text-stroke: 1.5px red;
  -webkit-text-fill-color: transparent;
}

.movementBlack {
  font-family: "Movement-IndirectBlack";
  font-size: 2em;
  
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* STYLES IN PAGE ORDER */
/* HEADER */
.wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.kaft {
  width: 100%;
  flex: 2 1 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  margin: 0;
  align-self: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item {
  flex: 1 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_title {
  font-family: "Movement-IndirectBlack";
  color: white;
  font-size: 1em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 3px solid white;
  padding: 10px;
  margin: auto;
}

a .item_title:active {
  background-color: blue;
}




/* BODY */

/* about */

.about_content {
  position: fixed;
  top: 15vh;
  width: 300px;
  height: 400px;
  left: 50%;
  margin-left: -150px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(0,0,0,0.87);
  overflow: auto;
}

.about_content p {
  color: white;
  margin: 5px;;
}

.about_content p:last-child {
  margin-top: 20px;
}

span.credit {
  /* font-family: "Pirelli-Regular"; */
  /* font-size: 0.7em; */
}

span.credit {
  color: white;
  margin: 5px;
  margin-top: 0px;
}

p.first_credit {
  margin-top: 20px;
}


/* maincontent */
.maincontent {
  margin: 1em auto 0 auto;
  width: 100%;
  min-height: 50vh;
  border-radius: 25px;
  font-size: 1em;
  flex: 0 1 90%;
}

div.project_text .content p {
  padding: 5px;
  /* font-family: "Movement-IndirectBlack"; */
  color: white;
  margin: 2px;
  /* font-size: 0.7em; */
}

div.project_text .content p:nth-child(1) {
  padding-top: 25px;
}


div.contact {
  background-color: #fff7ac;
  /* font-size: 1em; */
  position: relative;
}

div.contact > .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work_wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.project,
.homeButton {
  border-radius: 20px;
  margin: 5px 0;
  padding: 10px;
  height: 20vh;
  overflow: hidden;
}

.project:hover {
  cursor: pointer;
}

.project_title,
.project_title > div {
  font-family: "Movement-IndirectBlack";
  font-size: 1em;
  color: white;
}

.project_text {
  /* font-size: 0.6em; */
  color: black;
}

.project_text p {
  margin: 10px;
}

.img {
  width: 100%;
  padding: 15px;
}

.img img {
  width: 100%;
}

.twentysix {
  background-color: #FF88DD;
  border: 3px solid #FF88DD;
}

.focus_project.twentysix .project_title,
.focus_project.twentysix .project_text,
.focus_project.twentysix .project_text p a, 
.focus_project.twentysix .project_year {
  color: #FF88DD;
}

.yerma1 {
  background-color: #FFDF6D;
  border: 3px solid #FFDF6D;
}

.focus_project.yerma1 .project_title,
.focus_project.yerma1 .project_text,
.focus_project.yerma1 .project_text p a,
.focus_project.yerma1 .project_year {
  color: #FFDF6D;
}

.yerma2 {
  background-color: #FF956D;
  border: 3px solid #FF956D;
}

.focus_project.yerma2 .project_title,
.focus_project.yerma2 .project_text,
.focus_project.yerma2 .project_text p a, 
.focus_project.yerma2 .project_year {
  color: #FF956D;
}

.headquarters {
  background-color: #d9aa00;
  border: 3px solid #d9aa00;
}

.focus_project.headquarters .project_title,
.focus_project.headquarters .project_text,
.focus_project.headquarters .project_text p a, 
.focus_project.headquarters .project_year {
  color: #d9aa00;
}

.cityoflight {
  background-color: #FF8A5E ;
  border: 3px solid #FF8A5E ;
}

.focus_project.cityoflight .project_title,
.focus_project.cityoflight .project_text,
.focus_project.cityoflight .project_text p a,
.focus_project.cityoflight .project_year {
  color: #FF8A5E;
}

.gymfest {
  background-color: #ffb200;
  border: 3px solid #ffb200;
}

.focus_project.gymfest .project_title,
.focus_project.gymfest .project_text,
.focus_project.gymfest .project_text p a, 
.focus_project.gymfest .project_year {
  color: #ffb200;
}

.journal2 {
  background-color: #e4c96f;
  border: 3px solid #e4c96f;
}

.focus_project.journal2 .project_title,
.focus_project.journal2 .project_text,
.focus_project.journal2 .project_text p a, 
.focus_project.journal2 .project_year {
  color: #e4c96f;
}

.journal1 {
  background-color: #e4c96f;
  border: 3px solid #e4c96f;
}

.focus_project.journal1 .project_title,
.focus_project.journal1 .project_text,
.focus_project.journal1 .project_text p a, 
.focus_project.journal1 .project_year {
  color: #e4c96f;
}

.journal3 {
  background-color: #e4c96f;
  border: 3px solid #e4c96f;
}

.focus_project.journal3 .project_title,
.focus_project.journal3 .project_text,
.focus_project.journal3 .project_text p a, 
.focus_project.journal3 .project_year {
  color: #e4c96f;
}

.si17 {
  background-color: #FF66CC;
  border: 3px solid #FF66CC;
}

.focus_project.si17 .project_title,
.focus_project.si17 .project_text,
.focus_project.si17 .project_text p a, 
.focus_project.si17 .project_year {
  color: #FF66CC;
}

.si18 {
  background-color: #FF02AA;
  border: 3px solid #FF02AA;
}

.focus_project.si18 .project_title,
.focus_project.si18 .project_text,
.focus_project.si18 .project_text p a, 
.focus_project.si18 .project_year {
  color: #FF02AA;
}

.unpublic {
  background-color: #D8B233;
  border: 3px solid #D8B233;
}

.focus_project.unpublic .project_title,
.focus_project.unpublic .project_text,
.focus_project.unpublic .project_text p a, 
.focus_project.unpublic .project_year {
  color: #D8B233;
}

.yermaradio {
  background-color: #FFDF6D;
  border: 3px solid #FFDF6D;
}

.focus_project.yermaradio .project_title,
.focus_project.yermaradio .project_text,
.focus_project.yermaradio .project_text p a, 
.focus_project.yermaradio .project_year {
  color: #FFDF6D;
}

.thegameofbeing {
  background-color: #a78300;
  border: 3px solid #a78300;
}

.focus_project.thegameofbeing .project_title,
.focus_project.thegameofbeing .project_text,
.focus_project.thegameofbeing .project_text p a, 
.focus_project.thegameofbeing .project_year {
  color: #a78300
}

.focus_project {
  display: block;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: transparent;
  overflow: scroll;
  min-height: auto;
}

/* .focus_project > .text > .project_title,
.focus_project > .text > .project_title > div {
  color: black;
} */

.focus_project:hover {
  cursor: auto;
}

@media (min-width: 800px) {
  
  body {
    font-size: 2em;
  }

  .wrapper {
    width: 100%;
    flex-flow: row nowrap;
  }

  .kaft {
    flex: 0 1 auto;
    width: auto;
    flex-flow: column nowrap;
  }

  .item {
    margin-left: 1em;
    flex-flow: column nowrap;
  }

  .item_title {
    font-size: 1em;
    padding: 10px 30px
  }

  .about_content {
    width: 900px;
    top: 16vh;
    margin-left: -400px;
    height: 600px;
    overflow: auto;
  }

  .about_content p {
    /* font-size: 1.2em; */
  }

  .maincontent {
    /* font-size: 1.2em;  */
  }

  .project_title,
  .project_title > div  {
    font-size: 1em;
  }

  div.about .content p,
  div.contact .content p {
    padding: 10px;
  }

  div.contact > .content {
    /* font-size: 3em; */
  }

  .work_wrapper {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .project {
    flex: 0 1 30%;
    min-height: 35vh;
    margin: 10px;
    transition: flex 250ms;
  }

  .focus_project {
    flex: 0 1 85%;
    justify-content: space-between;
  }

  .text {
    flex: 0 1 30%;
    margin: 20px;
  }

  .text_about {
    flex: 1 1 100%;
  }

  .project_text {
    /* font-size: 0.7em; */
  }

  .img {
    padding: 25px;
    width: 100%;
    margin: auto;
  }

  .img img {
    margin: 20px auto;
  }

  div.project_text .content p {
    font-size: 2em;
  }

  .rotate {
    /* transform-origin: 0 0; */
    transform: rotate(-90deg);
    position: absolute;
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(-90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);
  
    /* IE */
    -ms-transform: rotate(-90deg);
  
    /* Opera */
    -o-transform: rotate(-90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

  /* .csstransforms .item {
    border-left: 34px solid #369;
    padding-left: 10px;
  } */
}


